.card_right {
  background-color: white;
  z-index: 1;
  width: 23vw;
  height: 30vw;
  position: absolute;
  left: 11%;
  top: 8%;
}

.cardRightContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: justify;
}

.h2CardRight {
  justify-self: center;
  align-self: center;
}
