.card_right {
  background-color: white;
  z-index: 1;
  width: 23vw;
  height: 30vw;
  position: absolute;
  left: 11%;
  top: 8%;
}

.cardRightContent {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.h2CardRight {
  justify-self: center;
  align-self: center;
}



/* .cv {
  display: flex;
  gap: 2rem;
}

.cv1 {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.ausrichtung {
  align-self: center;
}
/*