*{
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
    text-align: center; 
}

h1 {
    color: black;
    text-align: center;
}

ul {
    display: inline-block;
}

.pb {
    width: 250px;
    height: 250px;
}