@import "/css/global.css";
@import "/css/card.css";
@import "/css/cardLeft.css";

.mainSection {
  display: flex;
  flex-direction: row;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100vw;
  max-height: 100vw;
}

.background_left {
  background-color: #cd853f;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}

.background_right {
  background-color: white;
  position: relative;
  grid-column-start: 5;
  grid-column-end: 3;
}
