* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  position: fixed; /* Header bleibt immer oben */
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1; /* Stelle sicher, dass der Header vor anderen Inhalten liegt */
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 140px 20px 20px; /* Berücksichtige die Höhe des Header beim Hauptinhalt und füge eine obere Marge hinzu */
}

section {
  margin-bottom: 40px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.pb {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.cv {
  display: flex;
  gap: 2rem;
}

.cv1 {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.ausrichtung {
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-between;
  display: row;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: lightcoral;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Medienabfragen für responsive Gestaltung (kann angepasst werden) */
@media (max-width: 768px) {
  header {
    font-size: 1.5em;
  }
}
